name: Python CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    # Lint the code
    - name: Lint Code
      run: |
        pip install flake8
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics

    # Run your Python script (as a basic test)
    - name: Run File Organizer
      run: |
        mkdir -p test_folder
        echo "sample.txt" > test_folder/sample.txt
        python main.py test_folder

    - name: Run Test
      run: |
        pip install pytest
        pytest test/tests.py
